<h1>Log</h1>

<mat-form-field>
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" 
  (dateChange)="addEvent('change', $event)">
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<div *ngIf="tracks">

<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
      </c-card-header>
      <c-card-body>
        <app-docs-example href="components/table/log">
          <table cTable>
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Time</th>
              <th scope="col">Type</th>
              <th scope="col">Track</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of tracks; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.time }}</td>
              <td>{{ item.type }}</td>
              <td>{{ item.trackname }}</td>
            </tr>
            
            </tbody>
          </table>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

</div>