<h1>Scheduler</h1>

<div *ngIf="schedulerData">
  <p>Size: {{ schedulerData.event_meta.size }}</p>
  <p>Tag: {{ schedulerData.event_meta.tag }}</p>

<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
      </c-card-header>
      <c-card-body>
        <app-docs-example href="components/table/scheduler">
          <table cTable>
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Time</th>
              <th scope="col">Name</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of events; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.timestamp_iso }}</td>
              <td>{{ item.event.name }}</td>
              <td>
                <ng-container *ngIf="isScheduledEvent(item.event)">
                  {{ item.event.fichero }}
                </ng-container>
                <ng-container *ngIf="!isScheduledEvent(item.event)">
                  {{ item.event.target_method }} {{ item.event.args }}
                </ng-container>
              </td>
            </tr>
            
            </tbody>
          </table>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

</div>