<h1>Queue</h1>

<div *ngIf="queueData">
  <p>Size: {{ queueData.length }}</p>
  <p>Currently playing : {{ current_track.data.filename}}</p>

  <c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
        </c-card-header>
        <c-card-body>
          <app-docs-example href="components/table/queue">
            <table cTable>
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Track</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of tracks; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item.data.filename }}</td>
              </tr>
              
              </tbody>
            </table>
          </app-docs-example>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  